<!-- estilo base das paginas -->
<link rel="stylesheet" href="../css/estilo.css">
<link rel="stylesheet" href="../css/editarPerfil.css">
<link rel="stylesheet" href="../css/cadastro.css">
<link rel="stylesheet" href="../css/estudio.css">
<link rel="stylesheet" href="../css/perfil.css">
<!-- estilo responsivo das paginas -->
<link rel="stylesheet" href="../estatico/css/responsivo/estilo.css">
<link rel="stylesheet" href="../estatico/css/responsivo/editarPerfil.css">
<link rel="stylesheet" href="../estatico/css/responsivo/cadastro.css">
<link rel="stylesheet" href="../estatico/css/responsivo/estudio.css">
<link rel="stylesheet" href="../estatico/css/responsivo/perfil.css">
<!-- javascript -->
<script src="../estatico/js/jquery.js"></script>
<script src="../estatico/js/valida.js"></script>